{% extends 'basicAccounts.html' %}

{% block title%}Reset Password {% endblock %}

{% block body %}

<div class="container my-4 p-5 border" style="width:400px">

    {% if validlink %}
    <h3 class="text-center">Change Password</h3><br>
    <form method="post">
        {% csrf_token %}

        <label for="password" class="form-label float-start">Password</label>
        <input class="form-control" type="password" name="new_password1" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>

        <label for="cpassword" class="form-label float-start">Confirm Password</label>
        <input type="password" name="new_password2" class="form-control"id="cpassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"required>

        <div class="form-text">Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</div>

        <button type="submit" class="btn btn-primary my-3 w-100">Reset Password</button>
    </form>

    {% else %}
    <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
    </p>
    {% endif %}
</div>

{% endblock %}