{% extends 'basicAccounts.html' %}

{% block title %} Sign Up {% endblock %}


{% block body %}

<div class="container my-4 p-5 border" style="width:500px;">

    <h3 class="text-center">Sign Up</h3><br>

    <form action="signup" method="post" class="row">
        {% csrf_token %}

        <div class="mb-2 col-md-6">
            <label for="firstname" class="form-label">First Name</label>
            <input type="text" class="form-control" name="firstname" id="firstname" pattern="[A-Za-z]+" required>
        </div>
        <div class="mb-2 col-md-6">
            <label for="lastname" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="lastname" id="lastname" pattern="[A-Za-z]+" required>
        </div>
        <div class="mb-2 col-md-12">
            <label for="username" class="form-label">Userame</label>
            <input type="text" class="form-control" name="username" id="username" pattern="^[a-z0-9_]+$" required>
        </div>
        <div class="form-text col-md-12 mb-2"></div>
        <div class="mb-2 col-md-12">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control" name="email" id="email" required>
        </div>
        <div class="mb-2 col-md-6">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
        </div>
        <div class="mb-1 col-md-6">
            <label for="cpassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" name="confirmpassword" id="cpassword" pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
        </div>
        <div class="form-text col-md-12 mb-2">Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</div>
        
        <div class="mb-2 col-md-12">
            <label for="mobileno" class="form-label">Mobile No.</label>
            <input type="tel" class="form-control" name="mobileno" id="mobileno" pattern="[0-9]{10}" required>
        </div>
        <div class="col-md-5 mt-2">
            <input type="reset" class="btn btn-primary w-100">    
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 mt-2">
            <input type="submit" value="SignUp" class="btn btn-primary w-100">
        </div>

    </form>

</div>

{% endblock %}