{% extends 'basicAccounts.html' %}

{% block title %}Your Profile{% endblock %}

{% block css %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{% endblock %}

{% block logout %}

<li class="nav-item">
    <a class="nav-link active mx-3" aria-current="page" href="/logout">Logout</a>
</li>

{% endblock %}


{% block body %}

<div class="container my-3">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>User Profile</h4>
            </div>
            <div class="panel-body">
                {% comment %} <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                    <img alt="Profile Photo" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">
                </div> {% endcomment %}
                <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                    <form action="viewProfile" method="POST">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="firstname" class="col-sm-2 col-form-label">First Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="firstname" name="firstname" value="{{user.first_name}}" pattern="[A-Za-z]+" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lastname" class="col-sm-2 col-form-label">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="lastname" name="lastname" value="{{user.last_name}}" pattern="[A-Za-z]+" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-sm-2 col-form-label">Username</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="username" id="username" value="{{user.username}}" pattern="^[a-z0-9]+$" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="mobileno" class="col-sm-2 col-form-label">Mobile No</label>
                            <div class="col-sm-10">
                                <input type="tel" class="form-control" name="mobileno" id="mobileno" value="{{customer.mobileNo}}" pattern="[0-9]{10}" required>
                            </div>
                        </div>

                        <input type="submit" value="Update Profile" class="btn btn-primary" style="margin-left:125px;">
                    </form>
                    <hr>

                    <div class="col-sm-5 col-xs-6 tital">Joined On {{user.date_joined}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

{% endblock %}